@import url(./__logo/header__logo.css);

.header{
    max-width: 882px;
    margin: 45px auto 0;
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid #545454;
    padding-left: 27px;
    padding-right: 27px;
}

@media screen and (max-width: 768px){
    .header{
        padding-bottom: 32px;
    }
}